@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */

.loader {
    border-top-color: #3490dc;
    animation: spinner 1.5s linear infinite;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  